<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet">
    
    <link rel="stylesheet" type="text/css"  href="/assets/css/ep-styles.css"> 

    <script src="https://kit.fontawesome.com/880501a14b.js" crossorigin="anonymous"></script>
    {% include 'partials/title-and-meta.njk' %}

</head>

<body>

<div class="container ">

  <div class="ep-header--margin
              ">
    {% include 'partials/header.njk' %}
  </div>

  {# Body #}
  <div class="row
              align-items-start
              ">

    {# Navigation #}
    <div class="
                col order-last
                order-md-first
                col-md-2
                col-lg-3
                ep-sticky-bottom-mobile
                ep-nav-mt
                ">
      {% include 'partials/navigation.njk' %}
    </div>

    {# Content #}
    <div class="col-12 
                col-md-10 
                col-lg-9
                "> 
      <h2 >{{ title | safe }}</h2>
      <hr class="mt-0">
      {{ content | safe }}
    </div>
  </div>
</div>

</body>
</html>