---
layout: 'layouts/base.njk'
title: 'Blog'
---
{# href="{{ site.baseurl + post.url }}">{{ post.data.title }} #}
    {%- for post in collections.posts  -%}
        <a  class="
                  link-secondary 
                  link-offset-2 
                  link-underline-opacity-0 
                  link-opacity-25-hover
                 "
            href="{{ post.url }}">{{ post.data.title }}
            <span class="col fs-6">( {{ post.data.date | postDate }} ) </span>
            
        </a></br> 

  	{%- endfor -%}