<div class="row
            pt-2
            pt-md-3
            pt-lg-4
            justify-content-lg-end
            ">
    <div class="col-3
                col-md-4
                col-lg-4
                col-xl-3
                offset-md-4
                offset-lg-0
                order-lg-last
                align-self-end
                pt-lg-4">
        <img src="/assets/images/profile-pic-500x500.png" 
            class=" img-fluid 
                    img-thumbnail 
                    rounded-circle
                    mb-2
                    " 
            alt="Enrique">
    </div>

    <div class="col
                col-md-12
                col-lg-8
                align-self-end
                text-md-center
                text-lg-end
                ">
        <h1 class="mb-0">Jestemrique</h1>
        <hr class="my-0">
        <p class="my-0">Lorem ipsum dolor sit amet...</p>
        <i class="fa-brands fa-github "></i>
        <i class="fa-brands fa-linkedin "></i>
        <i class="fa-brands fa-instagram "></i>
        
    </div>

</div>