

<nav class="nav 
            flex-md-column
            border-end
            border-2
            
            ">
    {%- for sitepage in collections.pages -%}
        <a class="  nav-link 
                    link-secondary 
                    text-end
                    link-opacity-25-hover
                    
                    " 
            aria-current="page" 
            href="{{ sitepage.url }}">{{ sitepage.data.title }}</a>
    {%- endfor -%}
</nav>
