

//@import "../../../node_modules/bootstrap/scss/bootstrap";


// Custom.scss
// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../../../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here

$nav-link-padding-y: 0rem;
$nav-link-font-weight: 400;

//Images thumbnails
$thumbnail-padding:                 0.40rem;



// 3. Include remainder of required Bootstrap stylesheets
@import "../../../node_modules/bootstrap/scss/variables";

// 4. Include any default map overrides here

// 5. Include remainder of required parts
@import "../../../node_modules/bootstrap/scss/maps";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/root";

// 6. Optionally include any other parts as needed
@import "../../../node_modules/bootstrap/scss/utilities";
@import "../../../node_modules/bootstrap/scss/reboot";
@import "../../../node_modules/bootstrap/scss/type";
@import "../../../node_modules/bootstrap/scss/images";
@import "../../../node_modules/bootstrap/scss/containers";
@import "../../../node_modules/bootstrap/scss/grid";
@import "../../../node_modules/bootstrap/scss/helpers";
@import "../../../node_modules/bootstrap/scss/nav";


// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "../../../node_modules/bootstrap/scss/utilities/api";

// 8. Add additional custom code here




.ep-green-box{
    border: 1px solid green;
}

.ep-red-box{
    border: 1px solid red;
  }
  
  /***************\
   Typography
  \***************/
  
  body{
    color: #444444;
    background-color: #f1f1f1;
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    font-family: "Roboto Flex", sans-serif;
    font-weight: 200;
  }
  
  h1, h2, h3, h4, h5, h6{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #444444;
  }

  /*** EndTypography ***/
  
  .main-nav__white{
    background-color: white;
  }

  /***************\
   Header
  \***************/
    .ep-header-image{
      width: 200px;
      width: 200px;;
    }
  /*** End Header ***/

  /***************\
   Main nav
  \***************/


  

    
  
  
  /***************\
   Layout
  \***************/

  .ep-header--margin{
    padding-top: 1em;
    margin-bottom: 1em;
  }

  @media (max-width: 767.98px) { /* sm */
    /*
    Keep nav bar fixed bottom when mobile.
    */
    .ep-sticky-bottom-mobile {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      z-index: 9999;
      border-top: 1px solid #949494;
      background-color: #FCFCFC;
      padding-top: 0.5em!important;
      padding-bottom: 0.5em!important;
    }
    .sticky-left + .content {
      margin-bottom: 100px; /* Adjust as needed */
    }
  
    /* margins */
    .ep-nav-mt{
      margin-top: 2em;
    }
  
    .ep-content-mt{
      margin-top: 1em;
    }
  
    
  }/* End sm */
  
  @media (max-width: 991.98px) { /* md */
  }/* End md */
  
  @media (max-width: 1199.98px) { /* lg */
    /* margins */
    .ep-header--margin{
      margin-bottom: 4em;
    } 
  }/* End lg */
  
  @media (min-width: 1200px) { /* xl */
    /* margins */
    .ep-nav-mt{
      margin-top: 6em;
    }

    .ep-header--margin{
      margin-bottom: 8em;
    }
  
  }/*End xl*/
  
  /*** End Layout ***/  

  
  
  
  
  
  
  
  